* {
  margin: 0rem;
}

html {
  --secondary-text-color: white;
  --primary-text-color: black;
  --primary-font: Arial;
  --secondary-font: avenir-light;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #67715d;
  color: var(--secondary-text-color);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.menu-svg {
  height: 2rem;
  width: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
  padding-top: 1rem;
  font-family: var(--primary-font);
}

.fases {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

section {
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  margin: 1rem;
}

footer {
  display: flex;
  background: #393434;
  color: var(--secondary-text-color);
}

.footer-rechts {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}
