* {
  margin: 0rem;
}

html {
  --secondary-text-color: white;
  --primary-text-color: black;
  --primary-font: Arial;
  --secondary-font: trebuchet ms;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #67715d;
  color: var(--secondary-text-color);
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: var(--secondary-font);
}

.menu-svg {
  height: 2rem;
  width: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
  padding-top: 1rem;
  font-family: var(--primary-font);
}

.fases {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

section {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  margin: 1rem;
}

.fase-inschrijving-text,
.fase-stagevoorstel-text,
.fase-voorbereiding-text {
  display: block;
}

.fase-inschrijving-text-hidden,
.fase-stagevoorstel-text-hidden,
.fase-voorbereiding-text-hidden {
  display: none;
}

.fase-inschrijving-text-complete,
.fase-stagevoorstel-text-complete,
.fase-voorbereiding-text-complete {
  display: none;
}

.fase-inschrijving-text-complete-shown,
.fase-stagevoorstel-text-complete-shown,
.fase-voorbereiding-text-complete-shown {
  display: block;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--secondary-font);
  border-style: none;
  background: transparent;
}

.lees-meer {
  align-self: flex-end;
}

.lees-meer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inleiding-aanvullende-info {
  font-family: var(--secondary-font);
  padding: 1rem;
}

.aanvullende-info {
  background: #ececec;
  padding-bottom: 1rem;
}

footer {
  font-family: var(--secondary-font);
  display: flex;
  background: #393434;
  color: var(--secondary-text-color);
}

.footer-rechts {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.apply {
  color: var(--secondary-text-color);
}
